In [1]:
import sqlite3

conn = sqlite3.connect("IGNIS.db")
c = conn.cursor()

#Quantos empregados controlam a caldeira com ID 1?
for row in c.execute('''
                        SELECT Count(*) AS QUANTIDADE
                        FROM Empregado 
                        WHERE Setor_ID = (SELECT Setor_ID FROM Caldeira WHERE Setor_ID = 1); 
                    '''):
    x = row

print('Existem ' + str(x[0]) + ' empregados que controlam a caldeira 1')

# Be sure to close the connection

Existem 2 empregados que controlam a caldeira 1

In [2]:
#Qual a maior temperatura no histórico do setor com ID 1?
for row in c.execute('''
                        SELECT MAX(Temperatura) AS MAX_TEMPERATURA
                        FROM Historico 
                        WHERE Setor_Id = 1 
                    '''):
    x = row

print('A maior temperatura do Setor 1 é: ' + str(x[0]) + ' °C')

A maior temperatura do Setor 1 é: 1307.12 °C

In [3]:
# Qual o endereço do supervisor da empregada Xuxa?
for row in c.execute('''
                        SELECT Rua, Bairro, Número 
                        FROM Empregado 
                        WHERE Empregado_ID = (SELECT Supervisor_ID FROM Empregado WHERE Nome = 'Xuxa Meneghel');
                    '''):
    x = row
print('O endereço do supervisor Vinicius (Engenheiro) da empregada Xuxa (Tecnico) é: \n' \
      '.....Rua: ' + str(x[0]) + '\n' \
      '.....Bairro: ' + str(x[1]) + '\n' \
      '.....Número: ' + str(x[2]))

O endereço do supervisor Vinicius (Engenheiro) da empregada Xuxa (Tecnico) é:
.....Rua: R. Denise
.....Bairro: Catole
.....Número: 53

In [4]:
conn.close()